section *, a {
	font-family: "Work Sans", sans-serif;
}

ul li {
	font-family: inherit;
}

/*section h1, section h2, section h3, 
section h4, section h5, section h6 {
	font-family: "Neuton", sans-serif;
	letter-spacing: 0.03em;
}*/

 h1, h2, h3, 
 h4, h5, h6 {
	font-family: "Neuton", sans-serif;
	letter-spacing: 0.03em;
}

call-to-action a, article-card span {
	text-decoration: underline;
	color: black;
}

article-card span:hover {
	color:  slategray;
}

.loud-voice	{
	font-family: sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}

.user-menu {
	margin-top: 20px;
}

@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.intro-voice, .attention-voice	{
	font-family: "Neuton", sans-serif;
	font-size: 40px;
}

.attention-voice	{
	font-size: 30px;
	margin-top: 10px;
}

.calm-voice {
	font-size: 1rem;
}

.attention-voice, .loud-voice {
	letter-spacing: 0.02em;
	line-height: 1.2;
}

p {
	line-height: 1.5;
}

p + p {
	margin-top: 14px;
}


h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 10px;
}
