human-emotions {
	display: block;
}

emotions-grouped {
	display: block;
}

human-emotions .emotions figcaption  {
	margin-top: 5px;
	text-transform: capitalize;
}

human-emotions .human-emotions-title {
	max-width: 50ch;
	font-size: clamp(1.5em, 2vw, 3em);
}

human-emotions .person-emotes {
	max-width: 500px;
	width: 80vw;
	margin-top: 10px;
}

human-emotions .emotion {
	margin-top: 30px;
}

@media (min-width:  600px) {
	human-emotions .human-expressions {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
	human-emotions .human-expressions .emotion:first-of-type {
		align-self: center;
	}
	emotions-grouped figure:first-of-type {
		display: flex;
		flex-direction: column;
	}
	emotions-grouped figure:first-of-type figcaption {
		order: 1;
	}
	emotions-grouped figure:first-of-type .person-emotes {
		order: 2;
	}
	human-emotions .person-emotes {
/*		max-width: 500px;*/
		width: 15vw;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}