.dentist-tools {
  list-style: none;  
}

.dentist-tools li {
/*   background-repeat: no-repeat; */
  /*min-height: 15vh;*/
  min-height: 40vh;
  /*border: 1px solid gray;*/
  margin-top: 10px;
}

.dentist-tools li:first-of-type {
  background: url("https://m.media-amazon.com/images/I/31Qf3mr7G-L.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /*background-size: cover;*/
}

.dentist-tools :nth-child(2) {
  background: url("https://m.media-amazon.com/images/I/61VdQRVcNkL.jpg");
  background-repeat: no-repeat;
/*   min-height: 90vh; */
  background-size: contain;
  /*background-size: cover;*/
}

.dentist-tools :nth-child(3) {
  background: url("https://m.media-amazon.com/images/I/51BINhcsGCL._SL1200_.jpg");
  background-repeat: no-repeat;
/*   min-height: 90vh; */
  background-size: contain;
  /*background-size: cover;*/
}

.dentist-tools :nth-child(4) {
  background: url("https://m.media-amazon.com/images/I/8119h0sg3dL._AC_SY679_.jpg");
  background-repeat: no-repeat;
/*   min-height: 90vh; */
  background-size: contain;
  /*background-size: cover;*/
}

.dentist-tools :nth-child(5) {
  background: url("https://m.media-amazon.com/images/I/412HuPU3CLL._SL1000_.jpg");
  background-repeat: no-repeat;
/*   min-height: 90vh; */
  background-size: contain;
  /*background-size: cover;*/
  /*background-position: center;*/
}

.dentist-tools :nth-child(6) {
  background: url("https://m.media-amazon.com/images/I/71cJNXo8z-L._SY355_.jpg");
  background-repeat: no-repeat;
/*   min-height: 90vh; */
  background-size: contain;
  /*background-size: cover;*/
}

@media (min-width: 600px) {
  .dentist-tools li {
  /*   background-repeat: no-repeat; */
    min-height: 15vh;
    border: 1px solid gray;
    margin-top: unset;
  }
  .dentist-tools {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 2fr 2fr 1fr;
    max-width: 900px;
  }
  .dentist-tools li:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-size: cover;
  }
  .dentist-tools :nth-child(2) {
    grid-column: 3;
    background-size: cover;
  }
  .dentist-tools :nth-child(3) {
  /*     grid-column: 3; */
  background-size: cover;
  }
  .dentist-tools :nth-child(4) {
    grid-column: 1;
    background-size: cover;
  }
  .dentist-tools :nth-child(5) {
    background-size: cover;
    background-position: center;
  }
  .dentist-tools :nth-child(6) {
    background-size: cover;
  }
}