tv-advertisement {
	display: block;
	border: 2px solid red;
}

tv-ad {
	display: block;
	display:  flex;
	flex-direction: column;
	padding: 20px;
}

.tv-rating {
	display: block;
	order: 1;
}

.tv-ad-title {
	order: 2;
	font-size: 1.3em;
	color: linen;
	background: maroon;
	padding: 10px;
}

.peacock-logo {
	max-width: 200px;
}

.tv-cta-link {
	display: block;
	padding: 20px;
	margin-top: 20px;
	background: maroon;
	color: linen;
	font-size: 1.4em;
	font-weight: bolder;
}

.tv-cta-title {
	font-size: 2em;
	max-width: 15ch;
}

.tv-cta, tv-ad + tv-ad {
	margin-top: 10px;
}

tv-advertisement tv-ad:first-of-type {
	background: url("../../images/garden-photos/garden-eighty-three/boy-one.jpg");
	background-position: center;
	background-size: cover;
}

tv-advertisement tv-ad:nth-child(2) {
	background: url("../../images/garden-photos/garden-eighty-three/girl-one.jpg");
	background-position: center;
	background-size: cover;
}

tv-advertisement tv-ad:nth-child(3) {
	background: url("../../images/garden-photos/garden-eighty-three/group.jpg");
	background-position: center;
	background-size: cover;
}

tv-advertisement tv-ad:last-of-type {
	background: linen;
}

@media (min-width:  600px) {
	tv-advertisement {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	tv-ad {
		display: flex;
		flex-direction: row;
		flex-basis: 26%;
		min-height: 500px;
		flex-shrink: 0;
/*		margin:  10px;*/
	}
	tv-ad * {
		align-self: end;
		margin-right: auto;
		margin-left: auto;
	}
	tv-advertisement tv-ad:last-of-type {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		/*align-items: center;*/
		flex-basis: 80%;
		min-height: unset;
	}
	tv-ad + tv-ad {
		margin-top: unset;
	}
	.tv-cta {
		align-self: start;
	}
}