sleep-are {
  display: block;
}

sleep-are * {
  margin-top: 10px;
}

.sleep-are-title {
  font-size: clamp(1.5em, 2vw, 4em);
}

.sleep-foods {
  display: block;
  color: var(--background-color);
}

.backed-by-science {
  font-size: clamp(1.2em, 2vw, 2em);
}

@media (min-width: 600px) {
  sleep-are {
    display: flex;
    flex-direction: column;
  }
  .backed-by-science {
    clip-path: polygon(0% 0%, 49% 0, 100% 100%, 0% 100%);
    padding: 90px;
    background: var(--background-color);
    color: linen;
    font-size: 1.2em;
    max-width: 700px;
    min-width: 50%;
    text-align: center;
  }
  .sleep-are-claim {
    display: flex;
    flex-direction: column;
    align-self: end;
    min-width: 50%;
    max-width: 700px;
    max-height: 250px;
/*     max-width: 500px; */
    clip-path: polygon(100% 1%, 100% 100%, 49% 100%, 0 0);
    padding: 90px;
    background: var(--body-text-color);
    text-align: center;
    font-size: 1.2em;
  }
  .sleep-are-claim span {
    align-self: end;
    font-size: 1.2em;
    max-width: 15ch;
    position: relative;
    left: 90px; 
  }
}