care-card h4 + p {
/*   margin-top: 10px; */
}

film-teaser {
  display: block;
}

film-teaser > .film-teaser-figure {
  max-width: 600px;
  width: 60vw;
  margin-top: 20px;
}

film-teaser em {
  font-style: italic;
}

.film-teaser-header p + p {
  margin-top: 10px;
}

.film-title + p {
  margin-top: 20px;
}

.film-title {
  font-size: 2em;
}

.film-described {
  margin-top: 15px;
}

.film-described p {
  max-width: 60ch;
}

.film-teaser-figure .film-still {
  max-width: 300px;
}

.film-teaser-figure figcaption {
}

@media (min-width: 600px) {
  film-teaser {
    display: flex;
    justify-content: space-between;
/*    flex-wrap: wrap;*/
    gap: 3%;
  }
  .film-teaser-header {
    display: flex;
    gap: 2%;
/*    writing-mode: vertical-rl;*/
    margin-right: 40px;
  }
  film-teaser p {
    margin-top: unset;
  }
  .film-described {
    margin-top: 20px;
  }
  .film-teaser-header .film-still {
/*    transform: rotate(90deg);*/
  }
  .film-described {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    max-width: 20ch;
  }
  .film-teaser-header .film-teaser-figure:first-of-type {
    order: 2;
    line-height: 2;
    margin-left: 30px;
  }
  .film-described h3 + p {
    margin-right: 10px;
  }
}