originators {
	display:  block;
	position: relative;
}

originator {
	display:  block;
}

realty-team {
	display: block;
}

.orignator-portrait {
	max-width: 100px;
}

.team-units::before {
	content:  "[";
}

.team-units::after {
	content:  "]";
}

realty-team {
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}

originator {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	/*flex-basis: 200px;*/
}

.originator-list {
	margin-top: 25px;
}

.originator-list li {
	margin-right: 15px;
	margin-top: 20px;
}

.originator-portrait {
	flex-shrink: 0;
	flex-basis: 60px;
}

.originator-portrait img {
}

.originators-title {
	font-size: 2em;
}

garden-sixty-three inner-column {
	/*max-width: 500px;*/
}

.originator-team {
	margin-left: 10px;
}
.originator-list {
	list-style-type: decimal;
	/*margin-left: 20px;*/
	/*margin-top: 40px;*/
	border:  2px solid red;
	transform: rotate(-90deg);
	position: absolute;
	right:  150px;
	top:  -90px;
	max-width: 200px;
}

@media (min-width:  600px) {
	/*.originator-list {
		list-style-type: decimal;
		margin-top: 40px;
		border:  2px solid red;
		transform: rotate(-90deg);
		position: absolute;
		left:  130px;
		top:  -90px;
	}*/
}

@media (min-width:  900px) {
	.originator-list {
		transform: unset;
		position: static;
		max-width: unset;
	}
	realty-team {
		/*flex-direction: column;*/
		/*display: flex;*/
	}
}
