black-friday {
  display: block;
}

.day-of-week {
  display: block;
}

.store-model {
/*   max-width: 600px; */
  margin-top: 10px;
}

.black-friday-header {
  background: maroon;
  color: linen;
  padding: 10px;
  text-transform: capitalize;
}

.customer-cta {
  position: relative;
}

.sale-day {
  color: linen;
  background: maroon;
  max-width: 400px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.black-friday-heading {
  line-height: 1;
  font-size: 3em;
}

.course-name {
  max-width: 15ch;
  background: inherit;
  color: linen;
  padding: 10px;
  font-size: 2em;
}

.sales-cta {
  background: green;
  color: linen;
  margin-top: 10px;
  line-height: 1;
}

.sale-cta {
  padding: 10px;
  font-size: 3em;
}

@media (min-width: 600px) {
  black-friday {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .black-friday-header {
    grid-column: 1 / 3;
  }
  .store-model, .sales-cta {
    margin-top: unset;
  }
}