care-card h4 + p {
/*   margin-top: 10px; */
}

film-teaser {
  display: block;
}

film-teaser > .film-still {
  max-width: 600px;
  width: 60vw;
  margin-top: 20px;
}

.film-teaser-header .film-still {
  max-width: 100px;
}

film-teaser em {
  font-style: italic;
}

.film-teaser-header p + p {
  margin-top: 10px;
}

.film-title + p {
  margin-top: 20px;
}

.film-title {
  font-size: 2em;
}

@media (min-width: 600px) {
  film-teaser {
    display: flex;
    justify-content: space-between;
  }
  .film-teaser-header {
    display: flex;
    writing-mode: vertical-rl;
  }
  film-teaser p {
    margin-top: unset;
  }
  .film-described {
    margin-top: 20px;
  }
  .film-teaser-header .film-still {
    transform: rotate(90deg);
  }
}