miracle-metropolitan {
  display: block;
}

miracle-metropolitan * {
  margin-top: 10px;
}

miracle-metropolitan .miracle-metropolitan-title {
  font-size: 2em;
  line-height: 1;
}

miracle-metropolitan .miracle-metro-exhibit {
/*   font-size: 1.2em; */
  display: block;
}

miracle-metropolitan .miracle-metropolitan-photo {
  width: 46vw;
  max-width: 500px;
}

miracle-metropolitan .miracle-metro-gallery-notes h4 {
  font-size: 1.8em;
}

miracle-metropolitan .miracle-metro-exhibit-info {
  margin-top: 20px;
}

@media (min-width: 600px) {
  miracle-metropolitan .miracle-metropolitan-photo {
    position: absolute;
    z-index: -1;
    left: 25%;
    top: 8%;
    transform: rotate(-30deg);
/*     max-width:; */
  }
  miracle-metropolitan {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    border: 4px solid red;*/
  }
  miracle-metropolitan .miracle-metropolitan-title span, 
  miracle-metropolitan .miracle-metro-exhibit-info span, 
  miracle-metropolitan .miracle-metro-exhibit-region span {
    display: block;
  }
  miracle-metropolitan .miracle-metropolitan-footer {
/*     display: flex;
    flex-direction: row;
    justify-content: space-between; */
  }
  miracle-metropolitan .miracle-metro-gallery-notes {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  miracle-metropolitan .miracle-metropolitan-header {
    flex-basis: 50%;
  }
  miracle-metropolitan .miracle-metro-gallery-notes p {
    max-height: 33ch;
  }
}

@media (min-width: 900px) {
  miracle-metropolitan {
    min-height: 900px;
  }
}