doctor-card {
  display: block;
}

.doc-connect-logo {
  max-width: 150px;
  margin-top: 10px;
}

.doc-site-link {
  display: block;
  margin-top: 10px;
}

doctor-card h3 {
  font-size: 2em;
}

@media (min-width: 600px) {
  doctor-card {
    display: flex;
  }
  .womens-day, .doctor-expert {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: start
  }
  .doctor-figure {
    position: relative;
  }
  .doc-connect-logo {
    position: absolute;
    top: -10px;
/*     outline: 2px solid red; */
  }
}