prison-inmate {
  display: block;
}

prison-inmate > * {
  margin-top: 10px;
}

prison-inmate strong {
  font-weight: bolder;
}

.tupac-photo {
  max-width: 300px;
}

.tupac-photo + p {
  margin-top: 10px;
}

.tupac-autograph {
  max-width: 200px;
  margin-top: 10px;
}

.inmate-facts, tr, td {
  border: 2px solid gray;
  padding: 5px;
  border-collapse: collapse;
}

.inmate-facts th {
  font-weight: bolder;
  padding: 5px;
}


.writing-categories > li {
  margin-top: 40px;  
}

.writing-ideas {
  line-height: 1.5;
}

.inmate-location strong {
  display: block;
}

@media (min-width: 650px) {
  prison-inmate {
    display: flex;
    flex-direction: row;
    grid-gap: 3%;
  }
  .inmate-info {
    display: flex;
    flex-direction: row;
    position: relative;
     justify-content: space-between;
  }
  .inmate-facts {
/*     writing-mode: vertical-rl; */
    transform: rotate(-90deg) translate(-10px, -60px);
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 80px;
  }
  .tupac-autograph {
/*     align-self: start; */
    position: absolute;
    left: 13px;
  }
}


