.therapist-card {
  margin-top: 400px;
  background: linen;
  padding: 20px;
}

therapist-card {
  display: block;
  margin-top: 150px;
}

therapist-card .therapist-dot {
  display: inline-block;
  max-width: 50px;
}

therapist-card .therapist-title {
  font-size: 2em;
  text-transform: capitalize;
}

therapist-card .therapist-title a {
  display: block;
}

therapist-card aside .therapist-title {
  font-size: clamp(1.3em, 2vw, 4em);
}

therapist-card h3 + p {
  margin-top: 5px;
}

therapist-card p + ul {
  margin-top: 10px;
}

therapist-card section + section, 
therapist-card aside {
  margin-top: 20px; 
}

therapist-card .title-accent {
  display: inline-block;
  width: 100%;
  max-width: 100px;
  background: black;
  min-height: 5px;
}

therapist-card .mh-origins, 
.mental-illness-causes {
  line-height: 1.3;
}

@media (min-width: 600px) {
  therapist-card {
    display: flex;
    justify-content: space-between;
  }
  therapist-card .fact {
    background: white;
    padding: 20px;
    order: 3;
  }
  therapist-card .myth {
    order: 1;
  }
  therapist-card .therapist-info {
    order: 2;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  therapist-card .title-accent {
    transform: rotate(90deg);
    min-width: 90px;
    min-height: 5px;
    margin-left: 50px;
    margin-top: 36px;
    margin-right: 50px;
  }
  therapist-card .fact {
    position: relative;
  }
  therapist-card .fact .therapist-title, .therapist-dot {
    position: absolute;
/*     bottom: 20px; */
/*     bottom: 300px; */
  }
  therapist-card .fact .therapist-title {
    top: -20px;
  }
}