/*  */
women-leaders {
  display: block;
/*   background: black;
  color: white; */
/*   padding: 40px; */
  line-height: 1.3;
  text-align: center;
}

women-leaders h3 + p {
  margin-top: 10px;
}

.women-leader-logo {
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.women-presents {
  font-size: 1.3em;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}

.women-presents span {
  display: block;
/*  position: relative;*/
/*  top: 4px;*/
/*  left: 20%;*/
/*  z-index: 1;*/
  text-align: center;
  background: black;
  min-width: 160px;
}

women-speakers {
  display: block;
}

.womens-leadership-title span {
  display: block;
  color: white;
}

women-leaders .speaker-name {
  font-size: clamp(2em, 3vw, 4em);
  display: inline-block;
  color: red;
  text-transform: capitalize;
  padding: 5px;
  line-height: 1;
}

.speaker-date-time {
  font-size: clamp(1.3em, 2vw, 2em);
  background: red;
  max-width: 30ch;
  padding: 20px;
  margin-top: 20px;
}

.women-conversation {
/*   max-width: 30ch; */
  text-transform: uppercase;
}

.women-leaders-header {
  background: black;
  color: white;
  padding: 10px;
}

.womens-leadership-title {
  font-size: clamp(1.5em, 4vw, 3em);
  text-transform: uppercase;
}


.female-speaker .woman-name {
  display: block;
}

.female-speaker .speaker-portrait {
  max-width: 150px;
  margin-top: 10px;
}

.female-speaker .speaker-portrait img {
  border-radius: 50%;
}

.female-speaker .woman-name {
  color: maroon;
  font-size: 1.2em;
  text-transform: uppercase;
}

.female-speaker figcaption {
  border: 2px solid black;
  border-radius: 6px 6px 6px 6px;
  max-width: 35ch;
  padding: 5px;
  text-transform: capitalize;
}



@media (min-width: 600px) {
  women-speakers {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  women-leaders {
/*     border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
  women-speakers figure {
    margin-right: 20px;
  }
  women-speakers figure figcaption {
    padding: 5px;
  }
  .speaker-portrait {
    margin-right: auto;
    margin-left: auto;
  }
  .women-leaders-header {
    flex-shrink: 0;
    flex-basis: 400px;
/*     position: relative; */
  }
  .women-presents span {
    position: relative;
    top: 4px;
    left: 50%;
  }
  .header-accent {
    display: block;
    height: 1px;
    width: 450px;
    width: 100%;
/*    max-width: 30vw;*/
    border: 1px solid white;
  }
  .women-presents {
    max-width: 10ch;
    position: relative;
    top: 5px;
    left: 90px;
/*     outline: 2px solid red; */
  }
  .women-presents span {
    position: relative;
    top: 4px;
    left: 20%;
    z-index: 1;
  }
  .womens-leadership-title {
    margin-top: 20px;
  }
}

@media (min-width: 950px) {
  .speaker-date-time {
    position: relative;
    top: 50px;
    left: 25px;
    width: 100%;
  }
}