based-on-process {
  display: block;
}

based-on-process .the-line {
  max-width: 600px;
}

based-on-process .based-on-process-title {
  font-size: 1.7em;
/*   max-width: 22ch; */
line-height: 1.2;
}

based-on-process .based-on-process-title + p {
  margin-top: 10px;
}

based-on-process .bop-signifier {
/*   display: block; */
}

based-on-process .bop-header-title, .bop-footer-title {
  font-size: clamp(2em, 5vw, 6em);
/*  line-height: 1.3;*/
text-transform: capitalize;
}

based-on-process .bop-footer {
  color: var(--body-text-color);
  padding: 20px;
}


@media (min-width: 600px) {
  based-on-process header {
    margin-bottom: 40px;
  }
  based-on-process header, based-on-process footer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  based-on-process .bop-teaser {
    transform: rotate(-30deg) translate(0, 10px);
    max-width: 70ch;
    width: 70vw;
    min-height: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid gray;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 10px;
  }
  based-on-process .bop-signifier {
    
  }
  based-on-process .bop-contact-methods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 10px;
  }
  based-on-process .bop-footer {
    margin-top: 130px;
  }
}