jennifer-lee-lacks {
  display: block;
}

h3 + picture {
  margin-top: 10px;
}

.garden-three inner-column {
/*   display: flex; */
/*   flex-direction: column; */
}

.actress-highlight {
  margin-right: 3%;
}

.theater-actress {
  order: 1;
  max-width: 300px;
  width: 40vw;
}

.garden-three aside {
  margin-top: 50px;
}

jennifer-lee-lacks h3 {
  font-size: 2em;
}

jennifer-lee-lacks .show-dates h4 {
  font-size: 1.3em;
}


@media (min-width: 600px) {
  .theater-actress {
    float: left;
    margin-right: 20px;
  }
  .theater-actress + p {
/*     margin-left: 20px; */
  }
  .actress-highlight p {
    max-width: 70ch;
  }
}

@media (min-width: 900px) {
  .theater-actress {
    float: none;
  }
  jennifer-lee-lacks {
    display: flex;
    justify-content: space-between;
  }
  .actress-highlight p {
    max-width: unset;
  }
  picture + p {
    margin-top: 10px;
  }
  .actress-highlight picture {
    max-width: unset;
  }
}