anterior-card {
  display: block;
  border: 6px solid black;
  padding: 5px;
  min-height: 400px;
  max-width: 600px;
}

posterior-card {
  display: block;
  border: 2px solid black;
  min-height: 400px;
  margin-top: 10px;
  padding: 5px;
  max-width: 400px;
}

anterior-card, posterior-card {
  max-width: 600px;
}

.garden-fifty-four {
  display: relative;
}

.clown-nose {
  width: 30vw;
  max-width: 200px;
  max-height: 600px;
  margin-top: 10px;
}

.dont-stay {
  font-size: 1.3em;
}

.bottom-leg-one, .bottom-leg-two {
  display: none;
}

@media (min-width: 800px) {
  .garden-fifty-two inner-column {
    position: relative;
/*     display: flex; */
/*     justify-content: center; */
		min-height: 128vh;
  }
  anterior-card {
    position: absolute;
    z-index: 1;
    width: 95%;
    top: 70px;
    width: 80vw;
    /*right: 60px;*/
  }
  .clown-nose {
    position: absolute;
/*     right: 100px; */
    /*left: 410px;*/
    bottom: 94px;
    right: 134px;
    left: 476px;
    z-index: -1;
    width: 100%;
    min-height: 600px;
    
  }
  posterior-card {
    position: absolute;
    z-index: -2;
    width: 80vw;
    left: 50px;
    border: 6px solid red;
    display: flex;
    flex-direction: column;
  }
  .anterior-title {
    writing-mode: vertical-rl;
    max-height: 96ch;
  }
  .dont-stay {
    align-self: end;
  }
  .bottom-leg-one {
    display: block;
    position: absolute;
    top: 340px;
    right: 40px;
    max-width: 330px;
    transform: rotate(20deg);
    max-width: 145px;
    transform: translate(62px, 48px);

  }
  .bottom-leg-two {
    display: block;
    position: absolute;
    right: 495px;
/*     right: 407px; */
    top: 366px;
    transform: rotate(-12deg) translate(-63px, 53px);
    max-width: 321px;
  }
}