.garden-thirty-nine {
  position: relative;
}

pride-series {
  display: block;
}

pride-series figcaption {
  margin-top: 10px;
  font-weight: bolder;
}

pride-series .pride-week-author picture {
  max-width: 280px;
}

pride-series .author-list li {
  padding: 10px;
  color: white;
}

pride-series .author-list li:first-of-type {
  background: red;
}

pride-series .author-list li:nth-child(2) {
  background: #f44336;
}

pride-series .author-list li:nth-child(3) {
  background: #ff8c00;
}

pride-series .author-list li:nth-child(4) {
  background: #fbec5d;
}

pride-series .author-list li:nth-child(5) {
  background: #008000;
}

pride-series .author-list li:nth-child(6) {
  background: #00008b;
}

pride-series .author-list li:nth-child(7) {
  background: #9400d3;
}

pride-series .author-list li:nth-child(8) {
  background: #6f2da8;
}

pride-series .author-list li:nth-child(9) {
/*   background: #9bddff; */
  background: #4b0082;
}

pride-series .author-list li:nth-child(10) {
  background: #9bddff;
}

pride-series .pride-series h3 {
  font-size: 2.5em;
}

pride-series .pride-series h3 + p,
pride-series .author-list {
  margin-top: 10px;
}

pride-series .author-photos li {
  margin-top: 50px;
}

.author-photos picture {
  max-width: 200px;
}

@media (min-width: 600px) {
  pride-series .author-list {
    writing-mode: vertical-rl;
  }
  pride-series .author-list li {
    min-height: 90vh;
    padding: 1.3em;
  }
  pride-series .author-photos {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 150px);
  }
}

@media (min-width: 900px) {
  pride-series .author-list {
    margin-top: unset;
    /*position: relative;*/
  }
  pride-series .author-list li {
     /*min-height: 90vh; */
     min-height: 1200px;
    /*min-height: 1077px;*/
/*     padding: 1.9em; */
    font-weight: bolder;
    font-size: 1.2em;
    /*width: 8vw;*/
  }
  pride-series {
    display: flex;
  }
  pride-series .lgbtq-pride {
    flex-basis: 300px;
    margin-right: 10px;
  }
  pride-series .pride-week-author picture {
    max-width: 100px;
  }
  pride-series .author-photos {
    position: absolute; 
    /*top:  58vh;*/
    /*bottom: 322px;*/
/*    bottom: 35vh;*/
    bottom: 8em;
    /*bottom: 380px;*/
    left: 50%;
    right: 50%;
    /*z-index: 1;*/
    /*outline:  10px solid red;*/
  }
  pride-series .author-photos figcaption {
    color: white;
  }
}