rich-person {
  display: block;
}

.rich-woman {
  max-width: 600px;
  order: 2;
  margin-top: 10px;
}

.shoot-role {
  display: inline-block;
  font-weight: bolder;
  font-size: 1.2em;
}

.rich-person {
  display: flex;
  flex-direction: column;
}

.rich-person figcaption {
  order: 1;
  font-size: clamp(2em, 4vw, 5em);
  text-transform: capitalize;
}

.shoot-employees {
  margin-top: 10px;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .shoot-employees {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  rich-person {
    display: flex;
  }
  .shoot-employees {
    order: 1;
  }
  .rich-person {
    order: 2;
    margin-left: 20px;
  }
}