new-employees {
	display: block;
}

.employee-title {
	font-size: clamp(2em, 3vw, 4em);
	line-height: 1.2;
}

.employee .employee-portrait {
	max-width: 500px;
}

new-employees figure {
	margin-top: 10px;
}

new-employees figure figcaption {
	text-transform: capitalize;
}

new-employees figure + figure {
	margin-top: 30px;
}

.company-name {
	font-weight: bolder;
}

@media (min-width: 600px) {
	new-employees {
		display: grid;
		grid-template-columns: repeat(5, minmax(20%, 1fr));
	}
	.new-employee-header {
		grid-column: 5;
		font-size: 2em;
	}
	new-employees .employee:nth-child(6) {
		margin-top: 50px;
	}
	new-employees figure + figure, 
	new-employees figure {
		margin-top: unset;
	}
}

@media (min-width:  1000px) {
	new-employees {
		/*gap:  5px;*/
	}
}