comic-con {
	display: block;
	text-transform: uppercase;
}

comic-con > * {
	margin-top: 5px;
}

comic-con > h3 {
	font-size: clamp(1.5em, 3vw, 4em);
}

.comic-con-title span {
	display: inline-block;
	margin-top: 10px;
}

.comic-con-title {
	/*font-size: 5em;*/
}

comic-con .comic {
	font-size: clamp(2em, 2vw, 3em);
}

comic-con .con {
	font-size: clamp(2em, 2vw, 3em);
}

.comic-con-logo {
	margin-top: 10px;
	max-width: 500px;
	width: 40vw;
}



@media (min-width: 600px) {
	comic-con .comic-con {
		display: flex;
	}
	comic-con .comic {
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
	}

	comic-con .con {

	}
}