
/*garden two*/
restaurant-card {
  display: block;
  max-width: 60ch;
}

restaurant-card picture {
  max-width: 250px;
  width: 40vw;
/*   flex-shrink: 0; */
}

.restaurant-name {
  font-weight: bolder;
  margin-top: 10px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-list li {
  margin-top: 20px;
}

.model-photo {
  max-width: 800px;
  width: 70vw;
}

.actress {
  margin-top: 20px;
}

@media (min-width: 600px) {
  restaurant-card {
    display: flex;
    justify-content: space-between;
  }
  .restaurant-info {
    margin-left: 10px;
    width: 100%;
  }
  .actress {
    display: flex;
  }

  .model-photo {
    order: 1;
  }
  .actress-info {
    order: 2;
    max-width: 40ch;
    margin-left: 20px;
  }
}

@media (min-width: 900px) {
  restaurant-card {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .restaurant-list {
    flex-wrap: nowrap;
  }
  .restaurant-list li {
    margin-top: unset;
  }
  .restaurant-info {
    margin-left: unset;
  }
}