derm-card {
  display: block;
/*   outline: 3px solid lime; */
/*   margin-right: auto; */
/*   margin-left: auto; */
}

derm-card table {
  border-bottom: 2px solid gray;
/*   width: 100%; */
  border-collapse: separate;
  padding: 5px;
}

derm-card tr, td {
  padding: 15px;
}

<<<<<<< Updated upstream
tbody tr td:first-of-type, tbody tr:first-of-type {
  border-bottom: none;
  border-top: none;
  border-left: none;
}

tbody tr td:first-of-type + td  {
=======
derm-card tbody tr td:first-of-type + td  {
>>>>>>> Stashed changes
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  color: maroon;
}

derm-card .doc-branding {
  display: flex;
  flex-direction: column;
}

derm-card .derm-logo {
  order: 1;
}

derm-card .derm-name {
  order: 2;
  margin-top: 20px;
}

derm-card .doc-portrait {
  max-width: 300px;
  transform: translate(0px, 130px);
}

derm-card.derm-summit {
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bolder;
  max-width: 40ch;
  margin-right: auto;
  margin-left: auto;
}
