.garden-one-hundred-two {
	margin-bottom: 150px;
}

shaving-poster {
	display: block;
/*	display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
}

.shaving-poster-title ~ * {
	margin-top: 20px;
}

.shaving-poster-title {
	font-size: clamp(2em, 2vw, 3em);
}


.shaving-poster-header-title {
	font-size: clamp(1.3em, 2vw, 2em);
	text-transform: capitalize;
}

.shaving-poster-header {
/*	display: flex;*/
/*	flex-direction: column;*/
	align-self: end;
/*	position: relative;*/
/*  top: 50px*/
}

.reading-info {
	order:  1;
}

.book-category {
	color: green;
}

.reading-time {
	color:  maroon;
}

.book-category::after {
	display: inline-block;
	vertical-align: sub;
	content:  ' \2022';
	padding: 5px;
	font-size: 1.5em;
}


.unisex-razor {
	max-width: 400px;
}





@media (min-width: 600px) {
	.shaving-test-area {
		display: flex;
		flex-direction: row;
	}
	shaving-poster .shaving-poster-title:first-of-type {
		align-self: end;
		transform: rotate(270deg) translate(0, 30px);
	}
	shaving-poster .shaving-poster-title:last-of-type {
		align-self: start;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 100px;
	}
}