realtor-team {
  display: block;
}

homes {
  display: block;
  background: maroon;
  padding: 30px;
  margin-top: 10px;
  color: linen;
}

home {
  display: block;
  margin-top: 30px;
}

people {
  display: block;
  margin-top: 30px;
  background: linen;
  padding: 30px;
}

.home-option {
  display: block;
  margin-top: 5px;
  font-size: clamp(1.3em, 2vw, 3em);
  text-transform: capitalize;
}

realtor-team .realty-title {
  font-size: 2.2em;
  line-height: 1;
}

.team-title {
  font-size: 1.4em;
  display: block;
}

.realty-team-cta {
  font-size: clamp(1.5em, 2vw, 4em);
  text-transform: capitalize;
}

.realty-team-cta .team-title {
  font-size: .8em;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 20px;
}

.realty-team-cta + picture {
  margin-top: 10px;
}

@media (min-width: 600px) {
  realtor-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  home {
    display: flex;
    align-items: center;
  }
  homes, people {
    flex-basis: 50%;
  }
  .home-option {
/*    display: block;*/
    order: 1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-right: 10px;
  }
  .property-photo {
    order: 2;
  }
  people {
    margin-top: 10px;
    align-self: start;
    margin-left: 20px;
/*     min-height: 130vh; */
  }
}