live-event {
  display: flex;
  flex-direction: column;
}

live-event > * {
  margin-top: 10px;
}

live-event h3:first-letter, live-event .live-event{
  text-transform: capitalize;
}

.be-you {
  order: 1;
  max-width: 800px;
}

.live-event {
  display: block;
}

.guest-speakers {
  display: flex;
/*   flex-wrap: wrap; */
order: 2;
}

.live-event {
  display: block;
  font-weight: bolder;
}

.guest-speaker {
  margin: 5px;
}

.insta-event {
  order: 3;
}

.insta-event h3 {
  font-size: 1.5em;
  line-height: 1.6;
}

@media (min-width: 600px) {
  live-event {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
  }
  .guest-speakers {
/*     flex-direction: column; */
    grid-row: 2;
  }
  .guest-speaker {
    flex-shrink: 0;
    flex-basis: 15vw;
    max-width: 400px;
    outline: 3px solid red;
  }
  .be-you {
    grid-column: 1 / 4;
  }
  .insta-event {
    grid-column: 5 / 6;
  }
}


@media (min-width: 900px) {
  .insta-event {
    grid-row: 3;
    grid-column: 1;
  }
}
