taxi-cab {
  display: block;
}

taxi-cab .nyc-taxi-logo {
  width: 40vw;
  max-width: 300px;
}

taxi-cab .taxi-cab-name span {
  text-transform: uppercase;
}

taxi-cab .taxi-cab-name * {
  display: block;
  margin-top: 10px;
}

.nyc-taxi-location, .nyc-taxi {
  font-size: clamp(1.5em, 2vw, 4em);
}

@media (min-width: 600px) {
  taxi-cab .taxi-cab-name {
    display: flex;
    flex-direction: row;
  }
  taxi-cab .nyc-taxi-location {
    font-size: 2em;
  }
  taxi-cab .nyc-taxi {
    align-self: end;
    font-size: 2em;
  }
}