* {
  /*outline:  3px solid red;*/
}
art-fair {
  display: block;
}

art-wall {
  display: block;
/*   width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, auto);
/*   gap: 1%; */
  background: gray;
  padding: 40px;
}

art {
  display: block;
  min-height: 200px;
  width: 100%;
  max-width: 200px;
  background: lime;
  margin-top: 10px;
}

art-fair h3 {
  font-size: 2em;
  display: inline-block;
}

@media (min-width: 700px) {
  art-fair {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
  }
  art-fair art-wall art:first-of-type {
/*     grid-column: 1; */
  }
  art-wall {
    grid-column: 2 / 5;
  }
  art-fair h3 {
    font-size: clamp(6em, 6vw, 8em);
    padding: 2px;
    text-transform: uppercase;
  }
  art-fair h3:first-of-type {
/*     font-size: 6em; */
    writing-mode: vertical-lr;
    transform: rotate(-180deg) translate(10px, -6px);
    grid-row: 1;
  }
  art-fair h3:nth-child(2) {
    grid-column: 2;
    font-size: 8em;
    letter-spacing: .08em;
  }
  art-fair h3:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
    font-size: 9em;
    letter-spacing: 0.08em;
    transform: translate(90px, 0px);
  }
  art-fair h3:nth-child(4) {
    writing-mode: vertical-rl;
/*     transform: rotate(180deg) translate(-20%, 0); */
    grid-row: 3;
    grid-column: 1;
/*     grid-column: 2 / 5; */
  }
  art-wall {
    grid-column: 2 / 6;
    grid-row: 2;
  }
}

@media (min-width: 1100px) {
  art-fair h3:nth-child(4) {
    transform: rotate(180deg) translate(-6%, 180px);
    grid-column: 5;
    font-size: 9em;

/*     grid-column: 2 / 5; */
  }
}