.be-you {
  max-width: 800px;
}

.live-event {
  display: block;
}

.guest-speakers {
  display: flex;
/*   flex-wrap: wrap; */
}

.live-event {
  display: block;
}

.guest-speaker {
  margin: 5px;
}

@media (min-width: 600px) {
  live-event {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
  }
  .guest-speakers {
/*     flex-direction: column; */
    grid-row: 2;
  }
  .guest-speaker {
    flex-shrink: 0;
    flex-basis: 15vw;
    max-width: 400px;
    outline: 3px solid red;
  }
  .be-you {
    grid-column: 1 / 4;
  }
  .insta-event {
    grid-column: 5 / 6;
  }
}


@media (min-width: 900px) {
  .insta-event {
    grid-row: 3;
    grid-column: 1;
  }
}
