pe-teaser {
	display: block;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	min-height: 600px;
}

pe-teaser header * {
/*	border-top: 10px solid red;*/
	margin-top: 10px;
}

.design-school-header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.design-school-header h3 {
	font-size: clamp(1.5em, 2vw, 5em);
}

.pe-sign {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	order:  1;
}

.pe-sign .school-name {
	display:  block;
}

.pe-sign .course-name {
	display:  block;
}

.pe-cta-title {
	display: flex;
	justify-content: space-between;
	order:  3;
}

.pe-cta-title .pe-cta {
	display:  block;
}

.pe-dot {
	position: relative;
	z-index: -1;
	max-width: 45vw;
	order:  2;
}

.course-abbr {
	display: block;
}

.pe-cta {
	display: inline-block;
	padding: 10px;
	text-transform: capitalize;
}

.school-name, .course-name {
	padding: 10px;
	text-transform: capitalize;
}


@media (min-width:  600px) {
	.design-school-header {
		position: relative;
		/*max-width: 600px;*/
	}
	pe-teaser .course-name {
		transform: rotate(90deg);
		position: absolute;
		top: 90px;
		right: 30px;
	}
	.pe-cta-title {
		margin-top: 100px;
	}
	.pe-cta-title .pe-cta:first-of-type {
		transform: rotate(-90deg);
		position: absolute;
		left: 30px;
	}
	.pe-cta-title .pe-cta:last-of-type {
		transform: rotate(-180deg);
		position: absolute;
		bottom:  -155px;
		right: 90px;
	}
	.pe-sign .school-name {
		position: absolute;
		left: 120px;
	}
	.pe-dot {
		position: relative;
		bottom: -90px;
	}
}