super-creative {
  display: block;
}

super-creative * {
/*   color: red; */
  margin-top: 5px;
}

super-creative .creative-photo {
  max-width: 500px;
}

super-creative .creative-title {
  font-size: 1.5em;
  color: var(--background-color);
  text-transform: capitalize;
}

super-creative .super-creative-title {
  color: var(--background-color);
}

super-creative .episode-num {
  color: var(--background-color);
}

super-creative .creative-figure figcaption {
  font-weight: bolder;
}

@media (min-width: 600px) {
  super-creative {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  super-creative .super-creative-title span {
    display: block;
  }
  super-creative .super-creative-title {
/*     display: flex; */
/*     flex-direction: row; */
    align-self: flex-start;
    position: relative;
    top: 60px;
  }
  super-creative .super-creative-title span {
    display: block;
  }
  super-creative .super-creative-title span + span {
/*     margin-left: 10px; */
  }
  super-creative .episode-num {
    align-self: end;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  super-creative .creative-figure {
    display: flex;
    flex-direction: column;
    max-width: 900px;
  }
}