musician-poster {
  display: block;
}

.musician-portrait {
  max-width: 500px;
}

.mutter-williams-video {
  display: block;
  width: 100%;
  border: 2px solid red;
}


.classical-new h3 {
  font-size: clamp(2em, 5vw, 8em);
  line-height: 1;
  margin-top: 10px;
}

.violinist {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1.2em;
}

@media (min-width: 600px) {
  musician-poster {
    display: flex;
  }
  .classical-new {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .classical-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .poster-title {
    align-self: end;
    max-height: 15ch;
    display: flex;
    flex-direction: column;
  }
  .timeless {
    align-self: end;
  }
}