self-help-poster {
	display: block;
}

self-help-poster .self-help-accent {
	display: block;
	background: black;
	width: 100%;
	min-height: 20px;
	max-width: 40px;
	min-width: 20px;
	max-width: 300px;
}

self-help-poster .self-help-poster-title {
	font-size: clamp(1.5em, 3vw, 4em);
	margin-top: 20px;
}

@media (min-width:  600px) {
	self-help-poster .self-help-poster-title {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	self-help-poster span {
		display: block;
	}
	self-help-poster {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	self-help-poster .self-help-accent {
		order: 1;
		min-height: 500px;
		max-width: 20px;
		align-self: center;
	}
	self-help-poster .self-help-word {
		order: 2;
	}
	self-help-poster .self-help-accent-two {
		min-height: 400px;
	}
	self-help-poster .self-help-accent-three {
		min-height: 300px;
	}
	self-help-poster .self-help-accent-four {
		min-height: 200px;
	}
	self-help-poster .self-help-accent-five {
		min-height: 300px;
	}
	self-help-poster .self-help-accent-six {
		min-height: 400px;
	}
	self-help-poster .self-help-accent-seven {
	}
	self-help-poster h3:nth-child(2n) .self-help-accent {
		background: maroon;
	}
	self-help-poster h3:nth-child(odd) .self-help-accent {
		background: linen;
	}
}