skincare-clinic {
  display: block;
  border: 2px solid maroon;
  min-height: 90vh;
}

skincare-clinic * {
  margin-top: 5px;
}

photo-frame {
  display: block;
}

tape {
  display: block;
}

skincare-clinic * {
  margin-top: 5px;
}

.client-photo {
  max-width: 600px;
}

.skin-care-label {
  background: linen;
  padding: 20px;
  max-width: 300px;
}

.office-pet-greeting {
  font-size: clamp(1.5em, 3vw, 2em);
  text-transform: uppercase;
}

.office-pet-greeting span:last-of-type {
  font-size: clamp(1.5em, 4vw, 5em);
}

@media (min-width: 700px) {
  .client-photos {
    position: relative;
  }
  photo-frame {
    position: absolute;
    top: 0;
    left: 55px;
    border: 4px solid lime;
    min-height: 780px;
    max-width: 600px;
    width: 100%;
  }
  tape {
    position: absolute;
    left: 94%;
    top: 300px;
    background: green;
    min-height: 200px;
    min-width: 80px;
    max-width: 150px;
  }
  .office-pet-greeting {
    position: absolute;
    left: 90%;
    top: 340px;
    z-index: 3;
  }
  .office-pet-greeting span {
    display: block;
  }
  .skin-care-label {
    position: absolute;
    bottom: 80px;
    left: 420px;
  }
}